@page "/curriculo"
@layout Layout.BaseLayout

<link href="styles.css" rel="stylesheet" />
<h3><br />Curriculo</h3>
<PageTitle>Curriculo</PageTitle>

<img src="perfil.jpeg" alt="Foto de perfil" class="foto-perfil" />

<p><b>Nome:</b> Gabrielly da Silva Araújo</p>
<p><b>Email:</b> gabrielly16araujo04@gmail.com</p>
<p><b>Telefone:</b> (69) 9 99327-5619</p>
<p><b>Objetivo</b><br 
    />Busco uma oportunidade para ingressar no mercado de trabalho, onde eu possa aplicar meus conhecimentos teóricos, desenvolver novas habilidades e contribuir com dedicação e responsabilidade para os objetivos da empresa.</p>
    <p><b>Formação Acadêmica</b><br 
    />Ensino Fundamental Completo<br />
    Escola Estadual de Ensino Fundamental Jardim dos Migrantes - Ji-Paraná<br />
    Conclusão: 2022
</p>
<p>Ensino Médio com Técnico em Informática – Cursando (3º ano)<br
    />Instituto Federal de Educação, Ciência e Tecnologia de Rondônia (IFRO) – Campus Ji-Paraná<br />
    Previsão de conclusão: Dezembro de 2025<br />
</p>
<p><b>Habilidades Técnicas:</b></p>
<ul>
    <li>Noções de montagem e manutenção de computadores</li>
    <li>Conhecimentos básicos em redes de computadores,HTML, CSS e C#</li>
</ul>
<p><b>Informações Adicionais:</b> Disponibilidade para trabalhar em horários integrais ou parciais, com exceção de sábados</p>
@code {

}