@page "/"

<PageTitle>Home</PageTitle>

<!--<h1>Hello, world! Gaby</h1>

Welcome to your new app.


<h4>	Parabéns! Você conseguiu desenvolver um app web top :)</h4>  -->

<p>	Parabéns! Você conseguiu desenvolver um app web top :)</p>

