@page "/sobre"
@layout Layout.BaseLayout

<link href="styles.css" rel="stylesheet" />
<PageTitle>Sobre</PageTitle>

<h3>Sobre mim</h3>

<p><br />Olá! Meu chamo Gabrielly da Silva Araújo, tenho 18 anos e atualmente sou estudante do curso Técnico em Informática integrado ao Ensino Médio no Instituto Federal de Educação, Ciência e Tecnologia de Rondônia (IFRO) – Campus Ji-Paraná.</p>

<p>Embora não tenha a intenção de seguir carreira na área de informática, meu objetivo é me desenvolver profissionalmente na área da Biomedicina, com foco em me especializar em Biomedicina Forense.</p>

<p>Estou em busca de oportunidades para aplicar meus conhecimentos na prática, aprender continuamente e contribuir de forma positiva para os projetos e resultados das empresas onde eu vier a atuar.</p>

@code {

}